.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  flex: 3 0;
  justify-content: space-evenly;
  border: 1px solid #ffbbbb;
  border-radius: 1rem;
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
}

.list li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #e4e4e4;
}

.list li:last-child {
  border: none;
}

.list li img {
  width: 5rem;
  height: 5rem;
  border-radius: 100rem;
  object-fit: cover;
}

.list li div {
  padding: 1rem;
}

.list li div:not(:first-child) {
  flex-basis: 18%;
}

.list li select {
  width: 3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid lightgrey;
  font-size: 1.1rem;
  font-weight: 100;
}

.list .remove_button {
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  color: #e72929;
  opacity: 0.7;
  outline: none;
}

.list .remove_button:hover {
  opacity: 1;
  cursor: pointer;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 3;
  height: 20rem;
  border: 1px solid #ffbbbb;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

.checkout > div {
  font-size: 1.4rem;
  margin: 1rem;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.checkout .foods_count {
  margin-bottom: 1.5rem;
}

.checkout .foods_count::before {
  content: 'Count: ';
  color: grey;
}

.checkout .total_price::before {
  content: 'Price: ';
  color: grey;
}

.checkout a {
  padding: 1rem;
  color: white;
  background: #e72929;
  display: block;
  width: 99%;
  border-radius: 1rem;
  text-align: center;
  justify-self: center;
}

.checkout a:hover {
  opacity: 0.8;
  cursor: pointer;
}
